.cool-car {
  height: 220px; 
  width: 400px;
  border: 15px solid rgb(211, 166, 42);
  padding: 1px;
  margin: 10px;
}

.texts {
  width: 400px;
  border: 15px solid blueviolet;
  padding: 20px;
  margin: 10px;
  color: blueviolet;
}

.table-class {
  width: 500px;
  border: 5px solid rgb(24, 212, 65);
  padding: 25px;
  margin: 10px;
}